.header {
  width: 100%;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
}
.content {
  margin-top: 150px;
}

.footer {
  width: 100%;
  border-top: 3px solid red;
}
